@charset "utf-8";

/* 공통 */
html, body, button {
    font-family: 'SUIT', sans-serif;
}

.hide {
    display: none;
}

.italic {
    font-style: italic;
}

:root {
    --black: #222;
    --white: #fff;
    --blue: #00ffff;
    --pink: #ff0072;
}

.wrap {
    color: var(--white);
    background-color: var(--black);
}

.inner {
    position: relative;
}

/* .inner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: .8;
    z-index: 1;
} */


/* 메뉴 영역 */
/* .menuWrap {
    position: fixed;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

.menuList {
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
    background-color: var(--white);
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
}

.menuList .menu {
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.menuList .menu .menuText {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 50px;
}

.menuList .menu.active {
    background-color: var(--black);
    border-radius: 50px;
}

.menuList .menu.active .menuText {
    color: var(--white);
} */


/* 헤더 영역 */
.logoWrap, .iconWrap {
    position: fixed;
    z-index: 999;
}

.logoWrap {
    left: 1em;
    top: 1em;
    font-size: 1.3em;
    transition: all .5s ease-in-out;
    text-shadow: 0 0 0 transparent,0 0 0 transparent;
    color: var(--blue);
    overflow: visible;
}

.logoWrap:hover, .iconWrap .icon:hover {
    color:white;
    text-shadow: 0 0 10px var(--pink),0 0 50px var(--pink);
}

.iconWrap {
    right: 1em;
    bottom: 1em;
}

.iconWrap .icon {
    margin: 0 10px;
    font-size: 1.3em;
    color: var(--blue);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

/* .iconWrap .icon:hover {
    color: var(--pink);
} */


/* 메인 영역 */
.introWrap {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
}

.introListWrap {
    position: relative;
    padding: 8em;
}

.introListWrap .introList {
    position: absolute;
    top: 50%;
    line-height: 1.6;
    border-radius: 20px;
    padding: 4em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.introListWrap .introList .intro {
    font-size: 1.3em;
    line-height: 2;
}

.introListWrap .introList .italic {
    color: #00ffff;
    margin-left: -5px;
}

.subIntroWrap {
    width: 100%;
    height: 40vh;
    padding: 8em;
}

.subIntroWrap .subIntro {
    font-weight: 400;
    line-height: 1.6;
    padding: 2em 0;
    border-bottom: 1px solid #e0e0e0;
}

.subIntroWrap .keyword {
    position: relative;
    font-weight: 600;
    padding-right: 2.8em;
    color: var(--pink);
}

.subIntroWrap .keyword::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 1px;
    background-color: var(--white);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* 원형 animation 영역 */
.circleArea {
    position: relative;
}

.circleArea .circleWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.circleWrap .circle {
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: #2e2e2e;
    border-radius: 50%;
    filter: blur(15px);
}

.circleWrap .circle::before, 
.circleWrap .circle::after {
    position: absolute;
    content : "";
    top: -5%;
    left: -5%;
    height:110%;
    width:110%;
    border-radius:50%;
    opacity:0.5;
    filter: blur(60px);
}

.circleWrap .circle::before {
    background-color:#ff0072;
    z-index: -2;
    animation : backglow1 5s ease infinite;
}

.circleWrap .circle::after {
    background-color:#00ffff;
    z-index: -1;
    animation : backglow2 5s ease infinite;
}

@keyframes backglow1 {
    0% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(-10%, 10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(-10%, -10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(10%, -10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(10%, 10%) scale(1);
        opacity:0.5;
    }
}

@keyframes backglow2 {
    0% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
    25% {
        transform: translate(10%, -10%) scale(0.8);
        opacity:0.5;
    }
    50% {
        transform: translate(10%, 10%) scale(1.2);
        opacity:0.8;
    }
    75% {
        transform: translate(-10%, 10%) scale(1.1);
        opacity:0.2;
    }
    100% {
        transform: translate(-10%, -10%) scale(1);
        opacity:0.5;
    }
}

/* .circleWrap .circle.scroll {
    width: 40vw;
    height: 40vw;
}

.scroll {
    width: 40vw;
    height: 40vw;
} */

/* .introWrap .intro:last-child {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
} */

/* .introWrap .intro:nth-child(1) {
    animation: textUp .5s ease-out;
}

.introWrap .intro:nth-child(2) {
    animation: textUp 1s ease-out;
}

.introWrap .intro:nth-child(3) {
    animation: textUp 1.5s ease-out;
}

@keyframes textUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
} */


/* 텍스트 애니메이션 영역 */
.sectionWrap {
    width: 100%;
    height: 60vh;
    text-align: center;
    display: grid;
    align-items: center;
}

.sectionWrap .word {
    opacity: 0;
    display: inline-block;
    font-size: 5em;
    padding: 0 0.5em;
    color: var(--black);
    text-shadow: -1px 0 var(--white), 0 1px var(--blue), 1px 0 var(--pink), 0 -1px var(--white);
    transition: all 1s ease-out;
}

.sectionWrap .word.opacity {
    opacity: 1;
}


/* 안내문 영역 */
.workTitleWrap {
    position: relative;
    margin: 20vh 0 30vh 0;
    text-align: center;
    z-index: 1;
}

.workTitleWrap .workTitle {
    font-size: 2em;
    font-weight: lighter;
    line-height: 3;
}


/* 포폴 영역 */
.workStickyWrap {
    height: 100%;
    display: grid;
    padding-bottom: 30vh;
    grid-template-columns: 40% auto;
}

.workStickyWrap .workLogoWrap {
    padding-left: 2em;
}

.workStickyWrap .workLogo {
    font-size: 5em;
    padding-top: 1em;
}

.workStickyWrap .work {
    margin-top: 15vh;
}

.workStickyWrap .workBtn {
    display: block;
    padding-top: 10vh;
}

.workImgWrap {
    margin-top: 5em;
}

.workImgList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2em;
    grid-gap: 1em;
    margin-top: 16px;
}

.workImgList .workLink {
    position: relative;
    display: block;
    text-align: center;
    padding: 30px 0;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    /* height: 147px;
    overflow: hidden; */
}

.workImgList .workLink:hover::before {
    opacity: 0.8;
}

.workImgList .workLink::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    opacity: 0;
}

.workImgList .workImg {
    width: 100%;
    border-radius: 10px;
}

.workImgList .workSubTitleWrap {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.workImgList .workLink:hover .workSubTitleWrap {
    opacity: 1;
}

.workImgList .workSubTitleWrap .workSubTitle {
    margin: 1em auto;
    background-color: var(--black);
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--white);
    font-size: 1em;
    font-weight: lighter;
    width: fit-content;
}

/* .workStickyWrap.sticky {
    padding-bottom: 40vh;
} */

.workStickyWrap.sticky .work {
    margin-top: 0;
}


/* 푸터 */
.workTitleWrap2 {
    margin: 0;
    /* position: absolute;
    bottom: 0;
    left: 50%; */
}

.workTitleWrap2 .workTitle {
    writing-mode: vertical-rl;
    text-align: center;
    margin: 0px auto;
    font-size: 1em;
}

.footerWrap {
    position: relative;
    text-align: center;
    margin-bottom: 10vh;
}

.footerWrap .footerTextWrap {
    position: relative;
    z-index: 1;
}

.footerWrap .footerTextWrap .mail {
    font-size: 3em;
}

.footerWrap .footerTextWrap .footerTextWord {
    display: inline-block;
}

/* .footerWrap .circleArea {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */

.footerWrap .circleWrap {
    z-index: -1;
}

.footerWrap .circleWrap .circle {
    width: 35vw;
    height: 35vw;
}