@charset "utf-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@font-face {
    font-family: 'avenirNextW04';
    src: url('/font/avenirNextW04Regular.woff') format('woff');
}
@font-face {
    font-family: 'maisonNeueBook';
    src: url('/font/maisonNeueBook.woff') format('woff');
}
@font-face {
    font-family: 'roxboroughCf';
    src: url('/font/roxboroughCf.woff') format('woff');
}

/* 공통 스타일 */
body, html {
    font-size: 62.5%; /* 10px */
    font-family: 'Roboto', sans-serif;
}

body, .wrap {
    color: #fefefe;
    background-color: var(--textColor);
    overflow-x: hidden;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.italic {
    font-style: italic;
    padding-right: 2.2px;
}

.subColor {
    color: var(--subColor);
}

.pointColor {
    color: var(--pointColor);
}


/* 컬러값 */
:root {
    --mainColor: #0D221B;
    --subColor: #B56ACA;
    --pointColor: #EC9514;
    --textColor: #F5E5D0;
    --grayColor: #3E3E40;
    /* --grayColor: #D5D5D3; */
}