@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');

/* 공통 스타일 */
body, html {
    font-size: 62.5%; /* 10px */
    font-family: 'Roboto', sans-serif;
}

body, .wrap {
    color: #fefefe;
    background-color: var(--textColor);
    overflow-x: hidden;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.italic {
    font-style: italic;
    padding-right: 2.2px;
}

.subColor {
    color: var(--subColor);
}

.pointColor {
    color: var(--pointColor);
}


/* 컬러값 */
:root {
    --mainColor: #202020;
    --subColor: #9FD8E5;
    --pointColor: #EC7495;
    --textColor: #faf6ed;
}