@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');

/* 공통 스타일 */
body, html {
    font-size: 62.5%; /* 10px */
    font-family: 'Roboto', sans-serif;
}

body, 
.wrap {
    color: #fefefe;
    background-color: var(--textColor);
    overflow-x: hidden;
}

/* body, html, a {
    cursor: none;
} */

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.italic {
    font-style: italic;
    padding-right: 2.2px;
}


/* 컬러값 */
:root {
    --mainColor: #202020;
    --subColor: #626062;
    --pointColor: #E5C179;
    --textColor: #faf6ed;
}


/* 마우스 커서 */
.mouseCursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid var(--pointColor);
    border-radius: 50%;
    pointer-events: none; /* 링크에 접근 가능하게 */
    transform: translate(-50%, -50%);
    z-index: 10;
}

.cursorHover {
    transform: scale(2);
    background-color: var(--pointColor)
}

/* .mouseCursor .mouseCursorCnt {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EF5DA8;
    background-color: transparent;
    --cursor-scale: 1;
    will-change: transform;
    transform: scale3d(var(--cursor-scale), var(--cursor-scale), 1);
    transition: transform 150ms ease-in-out,
                background-color 150ms ease-in-out;
}

.mouseCursor .mouseCursorCnt.effect {
    background-color: #EF5DA8;
}

.mouseCursor .mouseCursorCnt::after {
    content: attr(data-name);
    position: absolute;
    font-size: .8125rem;
    font-style: italic;
    color: #fff;
    white-space: nowrap;
    transform: scale(.45);
} */