@charset "utf-8";

/* index.html */
/* footer 영역 */
.footerWrap {
    padding: 100px 0;
    color: var(--subColor);
}

.footerWrap .infoWrap {
    text-align: center;
}

.infoWrap .infoList {
    padding: 5px 0;
}

.infoWrap .infoList .infoHover {
    display: block;
    position: relative;
    padding: 10px 0;
    font-size: 2.4rem;
    color: var(--subColor);
    transition: all .5s ease-out;
}

.infoWrap .infoList:nth-child(1):hover .infoHover {
    color: var(--pointColor);
    transform: scale(1.5);
}

.infoWrap .infoList .infoLink:first-child {
    padding-right: 10px;
}

.infoWrap .infoList:nth-child(2) .infoData {
    font-family: 'EB Garamond', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    color: var(--pointColor);
}

.infoWrap .infoList:last-child {
    font-size: 1.4rem;
    color: var(--mainColor);
}