@charset "utf-8";

/* header 영역 */
.headerWrap {
    margin-top: 2rem;
}

.headerWrap .headerInner {
    justify-content: space-between;
    align-items: center;
}

.headerWrap .logo {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'EB Garamond';
    color: var(--mainColor);
    cursor: pointer;
}
