@charset "utf-8";

/* header 영역 */
.headerWrap {
    margin-top: 2rem;
}

.headerWrap .headerInner {
    justify-content: space-between;
    align-items: center;
}

.headerWrap .logo {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'EB Garamond';
    color: var(--mainColor);
    cursor: pointer;
    animation: logoEffect 2s infinite;
}

.headerWrap .logo:hover {
    
}

@keyframes logoEffect {
    0% {
        color: var(--subColor);
    }
    50% {
        color: var(--pointColor);
    }
    100% {
        color: var(--mainColor);
    }
}

.headerWrap .logoLink {
    position: relative;
    align-items: center;
    color: var(--pointColor);
    font-family: 'Roboto', sans-serif;
    letter-spacing: -5px;
    -moz-transform: skew(var(--skew));
    -ms-transform: skew(var(--skew));
    transform: skew(var(--skew)) scale(var(--scale));
    /* 2d 평면에서 요소 기울기 효과 */
}

/* .headerWrap .logoLink::before, 
.headerWrap .logoLink::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    letter-spacing: -5px;
    background-color: var(--mainColor);
    -moz-transition: clip-path 50ms ease-in;
    -ms-transition: clip-path 50ms ease-in;
    transition: clip-path 50ms ease-in;
}

.headerWrap .logoLink::before {
    left: 5px;
    -moz-text-shadow: 1.5px -1.5px var(--subColor);
    -ms-text-shadow: 1.5px -1.5px var(--subColor);
    text-shadow: 1.5px -1.5px var(--subColor);
    clip-path: polygon(0 var(--t1), 100% var(--t1), 0 var(--b1), 100% var(--b1));
    표시되어야 하는 요소 -> 클리핑 영역을 만듦, polygon속성 -> 다각형을 그리는 좌표
}

.headerWrap .logoLink::after {
    left: -5px;
    -webkit-text-shadow: -1.5px 1.5px var(--pointColor);
    -ms-text-shadow: -1.5px 1.5px var(--pointColor);
    text-shadow: -1.5px 1.5px var(--pointColor);
    clip-path: polygon(0 var(--t2), 100% var(--t2), 0 var(--b2), 100% var(--b2));
} */

/* .logoLink::before, .logoLink::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
}

.logoLink::before {
    left: 5px;
    text-shadow: 2px -2px var(--subColor);
    opacity: 0.4;
}

.logoLink::after {
    left: -5px;
    text-shadow: 2px -2px var(--pointColor);
    opacity: 0.6;
} */

/* .headerWrap .logoImg {
    width: 60px;
    height: 60px;
} */

/* .menu {
    padding: 0 20px;
}

.menuLink {
    position: relative;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.menuLink::before,
.menuLink::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menuLink::before {
    color: var(--subColor);
    animation: glitch01 .3s ease infinite;
    z-index: -1;
}

.menuLink::after {
    color: var(--pointColor);
    z-index: -2;
}

@keyframes glitch01 {
    0% {
        transform: translate(-2px, 2px);
    }
    25% {
        transform: translate(-4px, 4px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(2px, -4px);
    }
    100% {
        transform: translate(-2px, 2px);
    }
} */