@charset "utf-8";

/* index.html */
/* header 영역 */
.headerWrap {
    margin-top: 4rem;
}

.headerWrap .headerInner {
    justify-content: space-between;
    align-items: center;
}

.headerWrap .logo {
    position: relative;
    width: 25px;
    height: 25px;
    background: url('/img/img-logo.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}