@charset "utf-8";

/* 반응형 */
/* laptop size - 1024px */
@media screen and (max-width: 1024px) {
    .wrap .inner {
        max-width: 768px;
    }

    .coverStrWrap .coverStrInner {
        width: 450px;
        height: 450px;
    }

    .coverStrWrap .text .textSplit {
        transform-origin: 0 225px;
    }

    .bookCoverWrap .book {
        width: 170px;
        height: 240px;
    }

    .imgAvatar {
        width: 130px;
    }

    .frontCover .coverTitle {
        font-size: 1.6rem;
    }

    .introWrap {
        padding: 100px 0;
    }

    .itemWrap {
        justify-items: center;
    }

    .book .page .openBtn {
        font-size: 2rem;
    }

    .introWrap .mainIntro {
        font-size: 1.6rem;
    }

    .introPoint {
        font-size: 3rem;
    }

    .articleWrap .title {
        font-size: 1.8rem;
    }
}

/* tablet size - 768px */
@media screen and (max-width: 768px) {
    .wrap .inner {
        max-width: 320px;
    }

    .coverStrWrap .coverStrInner {
        width: 400px;
        height: 400px;
    }

    .coverStrWrap .text .textSplit {
        transform-origin: 0 200px;
    }

    .headerWrap .headerInner {
        justify-content: center;
    }

    .introWrap .mainIntro {
        font-size: 1.4rem;
    }

    .introWrap {
        padding: 80px 0;
    }

    .introPoint {
        font-size: 1.8rem;
    }

    .introWrap .point {
        width: 100px;
        font-size: 1.4rem;
        margin: 30px auto 0 auto;
    }

    .articleWrap .title {
        font-size: 1.6rem;
    }

    .infoWrap .infoList .infoHover {
        font-size: 2rem;
    }

    .infoWrap .infoList:nth-child(2) .infoData {
        font-size: 1.6rem;
    }

    .infoWrap .infoList:last-child {
        font-size: 1.2rem;
    }

    .footerWrap {
        padding: 50px 0;
    }
}

/* mobile size - 320px */
@media screen and (max-width: 320px) {
    .coverStrWrap .coverStrInner {
        width: 300px;
        height: 300px;
    }

    .coverStrWrap .text .textSplit {
        transform-origin: 0 150px;
    }

    .bookCoverWrap .book {
        width: 130px;
        height: 200px;
    }

    .imgAvatar {
        width: 100px;
    }

    .book .coverTitleWrap {
        border-radius: 5px;
    }

    .frontCover .coverTitle {
        font-size: 1.4rem;
        bottom: 30px;
    }

    .book .frontCover {
        border-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .book .page > li {
        border-radius: 0px 3px 3px 0px;
    }

    .book .back li {
        border-radius: 5px;
    }
}