@charset "utf-8";

/* index.html */
/* 커버 화면 */
.bookCoverWrap {
    width: 100%;
    height: 1500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #faf6ed;
}


/* 배경 원형 텍스트 영역 */
.coverStrWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.coverStrWrap .coverStrInner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.coverStrWrap .coverStrInner.openActive1 {
    transform: scale(1.5);
}

.coverStrWrap .coverStrInner.openActive3 {
    transform: scale(2);
}

.coverStrWrap .coverStrInner .text {
    width: 100%;
    height: 100%;
    animation: rotateStr 15s linear infinite;
}

@keyframes rotateStr {
    0% {
        transform: rotate(-360deg);
    }
}

/* js로 추가한 span태그에 붙는 textSplit 클래스 */
.coverStrWrap .text .textSplit {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    color: var(--subColor);
    transform-origin: 0 250px;
}


/* 다이어리 영역 */
.bookCoverWrap .book {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200px;
    height: 270px;
    margin: 0 auto;
    text-align: center;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
}

.book .front {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    -webkit-transition: all .8s ease, z-index .6s;
    -moz-transition: all .8s ease, z-index .6s;
    transition: all .8s ease, z-index .6s;
}

.book .front, 
.book .front li, 
.book .back, 
.book .back li {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.book .front, 
.book .back {
    /* 회전 중심 지정 - 왼쪽 모서리 하단 위치 */
    transform-origin: 0% 100%;
}

.book .front li:first-child {
    z-index: 1;
}

.book .front li:last-child {
    border-radius: 10px;
    background-color: var(--mainColor);
}

.book .coverTitleWrap {
    border-radius: 10px;
}

.book .frontCover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #202020;
    z-index: -1;
}

.imgAvatar {
    width: 150px;
    padding-top: 30px;;
}

.frontCover .coverTitle {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 100%;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'EB Garamond', sans-serif;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.book .page, 
.book .page > li {
    position: absolute;
}

.book .page {
    width: 100%;
    height: 90%;
    left: .5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.book .page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, .1),
        inset -1px 0px 1px rgba(150, 150, 150, .2);
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transition-duration: .6s;
}

.book .page li:nth-child(1) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.book .page li:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.book .page li:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
    z-index: 3;
}

.book .page li:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
    z-index: 2;
}

.book .page li:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
    z-index: 1;
}

.book .back {
    -webkit-transform: rotateY(0deg) translateZ(-1px);
    -moz-transform: rotateY(0deg) translateZ(-1px);
    transform: rotateY(0deg) translateZ(-1px);
}

.book .back li {
    width: 97.5% !important;
    border-radius: 10px;
    background-color: var(--mainColor);
}

.book.openActive1 {
    left: 50%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.book.openActive3 {
    animation: bookScale 1s ease-out;
}

@keyframes bookScale {
    0% {
        transform: translateY(-50%) scale(1.3);
    }
    100% {
        transform: translateY(-50%) scale(2);
    }
}

.book.openActive1 .front li:first-child {
    z-index: 0;
}

.book.openActive1 .front {
    -webkit-transform: rotateY(-180deg) translateZ(0);
    -moz-transform: rotateY(-180deg) translateZ(0);
    transform: rotateY(-180deg) translateZ(0);
}

.book.openActive1 > .page li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
}

.book.openActive2 > .page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
}

.book.openActive2 > .page li:nth-child(3) {
    -webkit-transform: rotateY(-145deg);
    -moz-transform: rotateY(-145deg);
    transform: rotateY(-145deg);
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}

.book.openActive2 > .page li:nth-child(4) {
    -webkit-transform: rotateY(-150deg);
    -moz-transform: rotateY(-150deg);
    transform: rotateY(-150deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.book.openActive2 > .page li:nth-child(5) {
    -webkit-transform: rotateY(-155deg);
    -moz-transform: rotateY(-155deg);
    transform: rotateY(-155deg);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.book .page .openBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--pointColor);
    font-family: 'EB Garamond', sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    cursor: pointer;
}

.book .page .openBtn:hover {
    color: var(--pointColor);
}


/* 커버 끝 > 메인 페이지 */
.wrap {
    position: relative;
    background-color: var(--textColor);
}

.wrap .inner {
    max-width: 1200px;
    margin: 0 auto;
}


/* section */
.introWrap {
    padding: 200px 0;
    text-align: center;
}

.introPoint {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'EB Garamond', sans-serif;
    animation: colorChangeEffect 2s infinite;  
}

@keyframes colorChangeEffect {
    0% {
        color: var(--subColor);
    }
    50% {
        color: var(--pointColor);
    }
    100% {
        color: var(--subColor);
    }
}

.introPoint .introP {
    font-style: italic;
    font-weight: 600;
    padding-right: 5px;
}

.introWrap .mainIntro {
    position: relative;
    color: var(--mainColor);
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
}

.introWrap .point {
    display: block;
    width: 130px;
    padding: 10px;
    margin: 50px auto 0 auto;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--subColor);
    border-radius: 50%;
    border: 1px solid var(--subColor);
}

.introWrap .point:hover {
    color: var(--pointColor);
    border: 1px solid var(--pointColor);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.introWrap .subIntro {
    font-size: 2.6rem;
}

.introWrap .pointIntro {
    position: relative;
    font-size: 4.2rem;
    z-index: 0;
}

.introImg {
    width: 300px;
    padding: 50px;
    background-color: transparent;
    transform: rotate(15deg);
    box-shadow: 0 5px 10px 0 var(--mainColor);
}


/* 포폴 영역 시작 */
.articleWrap .title {
    display: block;
    width: 100%;
    font-size: 2.4rem;
    font-family: 'EB Garamond', sans-serif;
    color: var(--mainColor);
}

.itemWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    /* 숫자 비율대로 트랙의 크기를 나눔, fr:fraction */
    grid-gap: 3rem;
    margin: 2rem 0;
    perspective: 1000px;
}

.itemWrap .cardWrap {
    width: 264px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.itemWrap .cardWrap .cardLink {
    padding-top: 80px;
    font-size: 1.6rem;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    position: relative;
    width: 264px;
    height: 300px;
    background-color: var(--mainColor);
    border-radius: 10px;
}

.cardWrap .cardLink::before {
    content: '';
    position: absolute;
    width: 100%;
}

.cardWrap .cardLink::before {
    height: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--pointColor);
}

.cardWrap .backWrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.cardWrap .front,
.cardWrap .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardWrap .back {
    border-radius: 10px;
    background-color: var(--mainColor);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cardWrap:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cardWrap:hover .back {
    backface-visibility: visible;
}

.cardWrap .back::before,
.cardWrap .back::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardWrap .back::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cardWrap .diary1.back::before {
    background-image: url('/img/img-publishlink.png');
}

.cardWrap .diary2.back::before {
    background-image: url('/img/img-widget.png');
}

.cardWrap .diary3.back::before {
    background-image: url('/img/img-mypage.png');
}

.cardWrap .diary4.back::before {
    background-image: url('/img/img-admin.png');
}

.cardWrap .diary5.back::before {
    background-image: url('/img/img-publishchain.png');
}

.cardWrap .diary6.back::before {
    background-image: url('/img/img-event.png');
}

.cardWrap .diary7.back::before {
    background-image: url('/img/img-tokenpost.png');
}

.cardWrap .diary8.back::before {
    background-image: url('/img/img-cafe24.png');
}

.cardWrap .back::after {
    top: 0;
    left: 0;
    opacity: .3;
    background-color: var(--mainColor);
}

.cardWrap .back .backTitle {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--mainColor);
    z-index: 1;
}

.back .backTitle .backTitleTag {
    width: max-content;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 50%;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: var(--textColor);
}